.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    // .game-sort{
    //     display: flex;
    //     align-items: center;
    // }
}

.game-info {
    margin-left: 20px;
    min-width: 260px;
}